<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{/updateform.css}">
    <title>게시글 수정 폼</title>
</head>
<body>
<header>
    <h1>Update Board</h1>
</header>

<section>
    <form th:action="@{/update}" method="post" th:object="${board}">
        <input type="hidden" th:field="*{id}" />
        <label for="name">작성자</label>
        <input type="text" id="name" th:field="*{name}" required/>
        <label for="title">제목</label>
        <input type="text" id="title" th:field="*{title}" required/>
        <label for="content">내용</label>
        <input type="text" id="content" th:field="*{content}" required/>
        <label for="password">비밀번호</label>
        <!--비밀번호  조건에 맞지 않을시 나타날 메시지 출력 -->
        <div th:if="${#fields.hasErrors('password')} and ${message} == null"  th:errors="*{password}" style="color: red;"></div>
        <!--비밀번호가 일치하지 않을시 나타날 메시지 출력-->
        <div th:if="${message}" th:text="${message}" style="color: red;"></div>
        <input type="password" id="password" th:field="*{password}" />
        <button type="submit">Update</button>
    </form>
</section>

<footer>
    <p>@게시판 만들기 프로젝트</p>
    <p>2024.05.23 ~ 2024.05.24</p>
    <p>GitHub : github.com/Yoong-D/</p>
</footer>
</body>
</html>